# STRING
       can write in single and double quotes

In [1]:
a='india'
print(a)
type(a)

india

str

In [2]:
a="myname"                      # anything in single or double quotes can be defined as STRINGS
b="my_name"
c="my name"
d="my.name"
e="123"
f="fyy$@fyy"
g='[5:4]'

print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))
print(e,type(e))
print(f,type(f))
print(g,type(g))

myname <class 'str'>
my_name <class 'str'>
my name <class 'str'>
my.name <class 'str'>
123 <class 'str'>
fyy$@fyy <class 'str'>
[5:4] <class 'str'>

# CASTING OF DATA TYPES
changing of data types

In [3]:
x1="20"
type(x1)

str

In [4]:
x1=int(x1)
type(x1)

int

In [5]:
x3=float("30")
type(x3)

float

In [6]:
x3

30.0

In [7]:
x=y=z="white"
print(x)
print(y)
print(z)

white
white
white

In [8]:
color=["pink","red","green"]
p=q=r=color
print(p)
print(q)
print(r)

['pink', 'red', 'green']
['pink', 'red', 'green']
['pink', 'red', 'green']

In [9]:
a,b,c="red","yellow","green"
print(a)
print(b)
c

red
yellow

'green'

# slicing in strings

In [10]:
a="my name is rohan"             # indexing in python always starts with 0
a[0:1]

'm'

In [11]:
len(a)        # its showing length of string

16

In [12]:
a[3:7]

'name'

In [13]:
a[10:]

' rohan'

In [14]:
a[:11]

'my name is '

In [15]:
# display morn in negative way

In [16]:
a[-5:]

'rohan'

In [17]:
a[-5:17]

'rohan'

In [18]:
print(a.upper())             #convert into uppercase

MY NAME IS ROHAN

In [19]:
print(a.lower())             #convert into lower case

my name is rohan

In [20]:
print(a.replace("is","is not"))       #replace another word instead of given word

my name is not rohan

In [21]:
print(a.split())                 #for splitting

['my', 'name', 'is', 'rohan']

In [22]:
b=a.replace(" ",",")
b

'my,name,is,rohan'

In [23]:
print(b.split(","))

['my', 'name', 'is', 'rohan']

In [24]:
#string formating

In [25]:
a=15
b=16
d=a+b
print("the sum of {} and {} is {}".format(a,b,d))

the sum of 15 and 16 is 31