# ROHAN RAHUL KOMKAR

# LIST
#Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

1Lists are created using square brackets[]
2.Unorderd
3. muttable/changable
4.allows duplicates

In [2]:
 l=["apple", "banana", "cherry", "apple", "cherry"] 
print(l)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [3]:
type(l)

list

In [83]:
list1 = ["apple", "banana", "cherry"]              # str
list2 = [1, 5, 7, 9, 3]                            #int
list3 = [True, False, False]                       #bool
list4 = ["abc", 34, True, 40, "male"]               #mixed data types

In [12]:
list4 = ["abc", 34, True, 40, "male"]
list4[3]=3
print(list4)                              #muttable/changeble

['abc', 34, True, 3, 'male']

In [13]:
#slicing
print(list4[-1])

male

In [14]:
print(list4[-3:])

[True, 3, 'male']

In [15]:
print(list4[1:4])

[34, True, 3]

In [16]:
print(list4[0:1])

['abc']

# list methods

In [82]:
l=list4
l

['abc', 34, True, 40, 'male']

In [84]:
#append()=Adds an element at the end of the list
l.append(5)
l

['abc', 34, True, 40, 'male', 5]

In [23]:
#clear()=Removes all the elements from the list

In [85]:
#copy()	Returns a copy of the list
b=l.copy()

In [86]:
b

['abc', 34, True, 40, 'male', 5]

In [88]:
#count()=Returns the number of elements with the specified value
b=[1,2,3,3,4,3,3]
b.count(3)

4

In [51]:
#extend()	Add the elements of a list (or any iterable), to the end of the current list
c=[2,3,"king"]

In [55]:
print(list1)
list1.extend(c)

['apple', 'banana', 'cherry']

In [56]:
print(list1)

['apple', 'banana', 'cherry', 2, 3, 'king']

In [57]:
#index()=Returns the index of the first element with the specified value
list1.index("banana")

1

In [58]:
list1.index("apple")

0

In [63]:
#insert()=Adds an element at the specified position
list1.insert(0,"rk")
print(list1)

['rk', 'apple', 'banana', 'cherry']

In [64]:
#pop()=Removes the element at the specified position
list1.pop(0)

'rk'

In [65]:
list1

['apple', 'banana', 'cherry']

In [72]:
#remove()=Removes the item with the specified value
m=list1
print(m)

['apple', 'banana', 'cherry']

In [73]:
m.remove("cherry")
print(m)

['apple', 'banana']

#reverse()=Reverses the order of the list
k=["king","rk","plp"]
print(k)

In [78]:
k.reverse()
print(k)

['plp', 'rk', 'king']

In [80]:
#sort()=Sorts the list
p=[6,8,2,9]
p.sort()
print(p)

[2, 6, 8, 9]