# ROHAN RAHUL KOMKAR 
SPPU M.Sc 1 statistics

# VARIABLE DECLERATION RULES:

#rule to define varibles names
1. variable name must start with letter or (_) underscore character
2. A variable name cannot start with number
3.only contain alphanumeric characters and underscore ex.(A-Z,a-z,0-9, "_")
4. variable name are case sensitive

In [1]:
#RULE 1 variable name must start with letter or (_) underscore character
#EXAMPLE

In [2]:
A=5    #variable name can start with letter, alphabet, words
rohan=23
a=3
print(A)
print(rohan)
print(a)

5
23
3

In [3]:
_rohan=67
print(_rohan)   #variable can start with underscore(_)

67

In [4]:
*d=67   #cannot start with special character like (*,#,$,!,~,%)

SyntaxError: starred assignment target must be in a list or tuple (1911700661.py, line 1)

In [5]:
#Rule:2 A variable name cannot start with number
4a=5

SyntaxError: invalid syntax (3719245722.py, line 2)

In [6]:
#Rule 3: only contain alphanumeric characters and underscore ex.(A-Z,a-z,0-9, "_")
rohan2345=6666787
rohan_2423=5
print(rohan2345)
print(rohan_2423)

6666787
5

In [7]:
abc$e=5

SyntaxError: invalid syntax (2332523165.py, line 1)

In [8]:
#Rule 4: variable name are case sensitive
B=1000
print(b)   #B will not overwrite b

NameError: name 'b' is not defined

# # Buit-in Data types in python
(int, float, string, boolean , complex, none)

# Int

In [ ]:
a=5 
type(a)

In [ ]:
A4=5778989809
type(A4)

In [ ]:
a=0
type(a)

# String      
    can write in single and double quotes

In [ ]:
a='india'
print(a)
type(a)

In [ ]:
a="myname"                      # anything in single or double quotes can be defined as STRINGS
b="my_name"
c="my name"
d="my.name"
e="123"
f="fyy$@fyy"
g='[5:4]'

print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))
print(e,type(e))
print(f,type(f))
print(g,type(g))

# Float
numbers with decimal point is called as float

In [ ]:
x=4.5
type(x)

In [ ]:
y=00.678
type(y)

# Boolean

In [ ]:
x1=True
type(x1)

In [ ]:
x2=False
type(x2)

In [ ]:
x=bool(0)
type(x)

# Complex

In [9]:
x3=2+3j
type(x3)

complex

In [10]:
x4= 5+4j
type(x4)

complex

# None

In [11]:
V=None
type(V)

NoneType

# CASTING OF DATA TYPES
changing of data types

In [12]:
x1="20"
type(x1)

str

In [13]:
x1=int(x1)
type(x1)

int

In [14]:
x3=float("30")
type(x3)

float

In [15]:
x3

30.0

In [16]:
x=y=z="white"
print(x)
print(y)
print(z)

white
white
white

In [17]:
color=["pink","red","green"]
p=q=r=color
print(p)
print(q)
print(r)

['pink', 'red', 'green']
['pink', 'red', 'green']
['pink', 'red', 'green']

In [18]:
a,b,c="red","yellow","green"
print(a)
print(b)
c

red
yellow

'green'

# slicing in strings

In [19]:
a="my name is rohan"             # indexing in python always starts with 0
a[0:1]

'm'

In [20]:
len(a)        # its showing length of string

16

In [21]:
a[3:7]

'name'

In [22]:
a[10:]

' rohan'

In [23]:
a[:11]

'my name is '

In [24]:
# display morn in negative way

In [25]:
a[-5:]

'rohan'

In [26]:
a[-5:17]

'rohan'

In [27]:
print(a.upper())             #convert into uppercase

MY NAME IS ROHAN

In [28]:
print(a.lower())             #convert into lower case

my name is rohan

In [29]:
print(a.replace("is","is not"))       #replace another word instead of given word

my name is not rohan

In [30]:
print(a.split())                 #for splitting

['my', 'name', 'is', 'rohan']

In [31]:
b=a.replace(" ",",")
b

'my,name,is,rohan'

In [32]:
print(b.split(","))

['my', 'name', 'is', 'rohan']

In [33]:
#string formating

In [34]:
a=15
b=16
d=a+b
print("the sum of {} and {} is {}".format(a,b,d))

the sum of 15 and 16 is 31