# SET

1. Always written in {}
2.not allows duplicates,
3.unordered, 
4.unchangeble,
5 allows mixdatatype,
1-Dimensional

In [1]:
s={"apple","banana","mango",10,22,33,55,10,True,22}
print(s)

{33, True, 'mango', 10, 'banana', 22, 55, 'apple'}

In [2]:
#s={4,4,4,4}            #not allows duplicates
#s

In [3]:
#A set with strings, integers and boolean values:

set1 = {"abc", 34, True, 40, "male"}
set1

{34, 40, True, 'abc', 'male'}

In [4]:
#True and 1 is considered the same value:

thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

#False and 0 is considered the same value:

thisset = {"apple", "banana", "cherry", False, True, 0}
print(thisset)

{True, 2, 'cherry', 'banana', 'apple'}
{False, True, 'cherry', 'banana', 'apple'}

In [6]:
s

{10, 22, 33, 55, True, 'apple', 'banana', 'mango'}

In [8]:
s[2:]                  #cant access element in set

TypeError: 'set' object is not subscriptable

In [9]:
print(22 in s)

True

# Set Methods
Python has a set of built-in methods that you can use on sets.

In [13]:
#add()=Adds an element to the set
m={"apple",0,True,1}
print(m)
m.add("king")
print(m)

{0, True, 'apple'}
{0, True, 'king', 'apple'}

In [16]:
#clear()=Removes all the elements from the set
k={"potatto","onion",True,0}
print(k)
k.clear()
print(k)

{0, True, 'onion', 'potatto'}
set()

In [18]:
#copy()=Returns a copy of the set
k={"potatto","onion",True,0}
l=k.copy()
print(l)

{0, True, 'onion', 'potatto'}

In [24]:
#difference()=Returns a set containing the difference between two or more sets
s1 = {"apple", "banana", "cherry"}
s2 = {"google", "microsoft", "apple"}
s3 = s1.difference(s2)
print(s3)

{'banana', 'cherry'}

#You can use the - operator instead of the difference() method, and you will get the same result.

In [25]:
s1 = {"apple", "banana", "cherry"}
s2 = {"google", "microsoft", "apple"}
s3 = s1-s2
print(s3)

{'banana', 'cherry'}

In [28]:
#difference_update()=Removes the items in this set that are also included in another, specified set
s1 = {"apple", "banana", "cherry"}
s2 = {"google", "microsoft", "apple"}
s1.difference_update(s2)
print(s1)

{'banana', 'cherry'}

In [32]:
#discard()=Remove the specified item
s1 = {"apple", "banana", "cherry"}
s1.discard("cherry")
print(s1)

{'banana', 'apple'}

In [33]:
#intersection()=Returns a set, that is the intersection of two other sets
s1 = {"apple", "banana", "cherry"}
s2 = {"google", "microsoft", "apple"}
s3 = s1.intersection(s2)
print(s3)

{'apple'}

In [34]:
#intersection_update()=Removes the items in this set that are not present in other, specified set(s)
s1 = {"apple", "banana", "cherry"}
s2 = {"google", "microsoft", "apple"}
s1.intersection_update(s2)
print(s1)

{'apple'}

In [36]:
#isdisjoint()=Returns whether two sets have a intersection or not
s1 = {"apple", "banana", "cherry"}
s2 = {"google", "microsoft", "apple"}
s3=s1.isdisjoint(s2)
print(s3)

False

In [38]:
s1={1,2,3}
s2={4,5,6}
s3=s1.isdisjoint(s2)
print(s3)

True

In [40]:
#issubset()=Returns whether another set contains this set or not
A={1,4,6}
N={1,2,3,4,5,6,7,8}
A.issubset(N)

True

In [48]:
#issuperset()=Returns whether this set contains another set or not
A={1,4,6}
N={1,2,3,4,5,6,7,8}
print(A.issuperset(N))
print(N.issuperset(A))

False
True

In [52]:
#pop()=Removes an element from the set
A={1,4,"king",True}
A.pop()              #remove random item
print(A)

{'king', 4}

In [53]:
#remove()=Removes the specified element
A={1,4,"king",True}
A.remove("king")
print(A)

{1, 4}

In [54]:
#symmetric_difference()=Returns a set with the symmetric differences of two sets
s1 = {"apple", "banana", "cherry"}
s2 = {"google", "microsoft", "apple"}
s3 = s1.symmetric_difference(s2)

print(s3)

{'google', 'banana', 'microsoft', 'cherry'}

In [55]:
#symmetric_difference_update()=Inserts the symmetric differences from this set and another
s1 = {"apple", "banana", "cherry"}
s2 = {"google", "microsoft", "apple"}
s1.symmetric_difference_update(s2)
print(s1)

{'google', 'banana', 'microsoft', 'cherry'}

In [56]:
#union()=Return a set containing the union of sets
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 'b', 'a', 2, 3, 'c'}

In [59]:
#update()=Update the set with the union of this set and others
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{1, 'b', 'a', 2, 3, 'c'}