# TUPLE

1. Always written in ()
2. ONE DIMENSIONAL
3. ORDERED DATA :When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.
4. MIXED DATATYPES:Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.
5. allows dublicates:Since tuples are indexed, they can have items with the same value
6. immutable/UNchangable:Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

In [5]:
A=(1,3,"FGJ",7)

In [6]:
type(A)

tuple

In [7]:
A #ONE DIMENSIONAL

(1, 3, 'FGJ', 7)

In [11]:
A[2]=23         #IMMUTABLE/UNCHANGABLE

TypeError: 'tuple' object does not support item assignment

In [12]:
A.sort()      #immutable

AttributeError: 'tuple' object has no attribute 'sort'

# Tuple Length
To determine how many items a tuple has, use the len() function:

In [13]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

# Create Tuple With One Item
To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [14]:
#Example
#One item tuple, remember the comma:

thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [21]:
#Tuple Items - Data Types
#Tuple items can be of any data type                     # mixed datatypes
tuple1 = ("apple", "banana", "cherry")
tuple2 = tuple([1, 5, 7, 9, 3])
tuple3 = (True, False, False)

#Example
#A tuple with strings, integers and boolean values:

tuple4 = ("abc", 34, True, 40, "male")
type(tuple1)
type(tuple2)
type(tuple3)
type(tuple4)

tuple

In [22]:
tuple2

(1, 5, 7, 9, 3)

# Access Tuple Items / Slicing

In [23]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [24]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [25]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [26]:
t=(1,2,30,40,"a","b","c",30,1,True,20.2)
t

(1, 2, 30, 40, 'a', 'b', 'c', 30, 1, True, 20.2)

In [27]:
t[-6:-1]

('b', 'c', 30, 1, True)

In [28]:
t[-6:11]

('b', 'c', 30, 1, True, 20.2)

In [29]:
#Check if Item Exists
#To determine if a specified item is present in a tuple use the in keyword:

#Example
#Check if "apple" is present in the tuple:

thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

# Tuple Methods

Python has two built-in methods that you can use on tuples.

Method  Description
count()	  =Returns the number of times a specified value occurs in a tuple
index()	  = Searches the tuple for a specified value and returns the position of where it was found

In [32]:
t=(2,3,5,7)

In [42]:
thistuple = ("apple", "banana", "cherry")
thistuple.count("apple")         # showing position

1

In [39]:
t.index(3)

1