# FOR LOOP

In [ ]:
#for loop Syntax
for val in sequence:
    # statement(s)
#Here, val accesses each item of the sequence on each iteration.
#The loop continues until we reach the last item in the sequence.

# EXAMPLES:

In [1]:
f=["red","blue","green","yellow"]
for x in f:
    print(x)

red
blue
green
yellow

In [2]:
for y in " rohan":
    print(y)

r
o
h
a
n

In [3]:
f=["red","blue","green","yellow"]
for x in f:
    print(x)
    if x == "blue":
          break

red
blue

In [4]:
#continue

f=["car","bus","train","flight"]
for i in f:
    if i =="train":
        continue
    print(i)

car
bus
flight

In [5]:
#Range
for y in range(10):
    print(y)

0
1
2
3
4
5
6
7
8
9

In [6]:
#.1 Half pyramid of stars

for i in range(5):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [7]:
#Full pyramid of stars

for i in range(5):
    for j in range(-5,-i):
        print("",end=" ")
    for k in range(i+1):
        print("*",end=" ")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [8]:
#INVERTED half pyramid
for i in range(5):
    for j in range(i,5):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [9]:
# Inverted Full pyramid of stars

for i in range(5):
    for j in range(i):
        print("",end=" ")
    for k in range(i,5):
        print("*",end=" ")
    print()

* * * * *
 * * * *
  * * *
   * *
    *

In [10]:
#Printing even numbers from 1 to 20
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [11]:
#Printing numbers from 1 to 10
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [13]:
#Calculating the sum of numbers from 1 to 10
sum = 0
for i in range(1, 11):
    sum += i
print("Sum:", sum)

Sum: 55

In [14]:
#Printing odd numbers from 1 to 20
for i in range(1, 21, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [17]:
#Printing squares of numbers from 1 to 10
for i in range(1, 11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [18]:
#Calculating the square root of each number in a list
nums = [4, 9, 16, 25]
for num in nums:
    print(num ** 0.5)

2.0
3.0
4.0
5.0

In [19]:
#Finding the maximum element in a list
lst = [3, 7, 2, 9, 5]
max_num = lst[0]
for num in lst:
    if num > max_num:
        max_num = num
print("Max number:", max_num)

Max number: 9

In [20]:
#Printing the Fibonacci series
n = 10
a, b = 0, 1
for i in range(n):
    print(a)
    a, b = b, a + b

0
1
1
2
3
5
8
13
21
34

In [23]:
#Checking if a number is prime
num = int(input("enter the number:"))
is_prime = True
for i in range(2, num):
    if num % i == 0:
        is_prime = False
        break
if is_prime:
    print(" it is a Prime number")
else:
    print("Not a prime number")

enter the number:7
 it is a Prime number